<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Bulk Students</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h1>Upload Bulk Students</h1>

    {% if message %}
        <div class="alert alert-{{ message.1 }}">
            {{ message.0 }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_file">Select Excel File:</label>
            <input type="file" name="file" id="id_file" class="form-control-file">
            <small id="fileLabel" class="form-text text-muted"></small>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <strong>Error!</strong> Please correct the following errors:
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <hr>

    <!-- Add a button for downloading Excel template -->
    <a href="{% url 'student_app:download_excel_template' %}" class="btn btn-success">Download Excel Template</a>

    <hr>

    <a href="{% url 'student_app:add_student' %}" class="btn btn-info">Add Single Student</a>

</div>

<!-- Add Bootstrap JS and Popper.js scripts here -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.getElementById('id_file').addEventListener('change', function () {
        document.getElementById('fileLabel').innerHTML = this.files[0].name;
    });
</script>

</body>
</html>
