<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria University News</title>
    <link rel="stylesheet" href="css.css">


</head>
<body>
    <header style="position: relative;">
        <img src="redbanner.png" width="100%" height="10%" style="margin-top: 10px;">
        <img src="Vicbadge.jfif" alt="Badge" height="60cm" width="60cm" style="position: absolute; left: 5px; top: 21px ;">
        <h1 style="animation-duration: 0s; animation-name: slideIn; margin-top: 10px;font-size: x-large;">VICTORIA UNIVERSITY NEWS</h1>
        <img src="redbanner.png" width="100%" height="10%" style="margin-bottom: 10px;">
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="commentary.html">Commentary</a></li>
        </ul>
    </nav>
    <div class="sidebar">
        <h4 style="font-size: larger; color: rgb(228, 19, 19);"><u>Upcoming Events</u></h4>
        <!-- Upcoming Events -->
        <ul style="list-style-type: none;">
            <li><b>Cultural Gala</b></li><br><br>
            <li><b>Inter Course Competitions</b></li><br><br>
            <li><b>Inter-University Debate</b></li><br><br>
            <li><b>Career Readiness & Employability</b></li><br><br>
            <li><b>Other Activities</b></li><br><br>
            <li><b>Other Activities</b></li><br><br>
        </ul>
    </div>
    <div class="main-content">
        <h2>Images</h2>
	    <img src="redbanner.png" width="100%" height="10%" style="margin-top: 10px;">
        <img src="Vicbadge.jfif" alt="Badge" height="60cm" width="60cm" style="position: absolute; left: 5px; top: 21px ;">
        <img src="redbanner.png" width="100%" height="10%" style="margin-bottom: 10px;">  
        <img src="redbanner.png" width="100%" height="10%" style="margin-top: 10px;">
        <img src="Vicbadge.jfif" alt="Badge" height="60cm" width="60cm" style="position: absolute; left: 5px; top: 21px ;">
        <img src="redbanner.png" width="100%" height="10%" style="margin-bottom: 10px;">
    </div>
    <footer>
        <p>&copy; 2024 University News</p>
    </footer>
</body>
</html>
